player-connection-mode=Listen
player-connection-guid=2507997803
player-connection-debug=0
player-connection-project-name=My project
player-connection-ip=192.168.178.61
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f9fba610b1ba4c4487adb667bb43feb3
